<!-- Your new widget html -->
<div class="site-wrapper video-background">
    <!--
    Video from YouTube
    Have Questions? How To:
    https://github.com/pupunzi/jquery.mb.YTPlayer/wiki
    -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=k_okcNVZqqI', containment:'body', autoPlay:true, mute:true, startAt:5, stopAt: 120, quality:'small', opacity:1, }"></a>

    <div class="overlay"></div>

    <div class="site-wrapper-inner">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><i class="fa fa-phone fa-fw"><a href="tel:1234567890"></i> (123) 456-7890<br><small>click to call <i class="fa fa-level-up"></i></small></a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="https://twitter.com/jenyelkind"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="https://www.facebook.com/jenyelkind"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href="https://plus.google.com/+JenyElkind/"><i class="fa fa-google-plus fa-fw"></i></a></li>
                            <li><a href="mailto:elkind@elkind.net"><i class="fa fa-envelope fa-fw"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading"> <i class="fa fa-clock-o fa-fw"></i> COVER COUNTDOWN</h1>
                <p class="lead">Cover countdown is a one-page coming soon theme for building simple and beautiful home pages. Download, edit the text, and add video from YouTube to make it your own.</p>
                <div id="clock"></div>
                <p class="lead"><a href="http://forbetterweb.com/htmlandbootstrap/classic-cover-video-background-one-page-websites-html-bootstrap/" class="btn btn-lg btn-default">DOWNLOAD</a></p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Copyright &copy; <a href="/">Your Website</a></p>
                    <p>Cover template by <a href="http://forbetterweb.com/">ForBetterWeb</a></p>
                </div>
            </div>

        </div>

    </div>
</div>