<% content_for :title do %>
  My super sweet dashboard
<% end %>


<div class="site-wrapper video-background">
    <!--
    Video from YouTube
    Have Questions? How To:
    https://github.com/pupunzi/jquery.mb.YTPlayer/wiki
    https://www.youtube.com/watch?v=k_okcNVZqqI  5 , 120
    https://www.youtube.com/watch?v=xQ_IQS3VKjA
    -->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/HBx3NVauNio', containment:'body', autoPlay:true, mute:true, mute: false, startAt:5, stopAt: 120, quality:'small', opacity:1, }"></a>

    <div class="overlay"></div>

    <div class="site-wrapper-inner">

            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        <ul class="nav masthead-nav">
                        
                        </ul>
                    </nav>
                </div>
            </div>

             <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading"> <i class=""></i>Welcome to 3.2 Rememberance Run</h1>
                <p class="lead">Race Will Begin</p>
                <div id="clock"></div>

               
               <div class="gridster">
               <center>
               <ul>
                   <li class="center-block" data-row="1" data-col="1" data-sizex="1" data-sizey="2">
                    <div data-id="totalregisters" data-view="Number" data-title="Total Registration" data-moreinfo="" data-prefix="">
                    </div>
                  </li> 
                  <li>
                   <!--<p class="widget-number updated-at">Department of Recreational Sports at Virginia Tech</p>
                  </li>-->
               </ul>
                 </center>
               </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                  <!-- <p="cover-heading"> <i class=""></i>Department of Recreational Sports at Virginia Tech </o> -->
                </div>
            </div>
            
        </div>

    </div>
</div>

 <!--<li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text="Welcome to 3.2 Run for Remembrance" data-moreinfo=""></div>
    </li> -->

<!--<div class="gridster">
  <ul> -->
   

   <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="checkedin" data-view="Meter" data-title="Checkedin" data-min="0" data-max="8000" data-prefix="100"></div>
    </li> -->


   <!-- <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="countdown" data-view="Number" data-title="Race Will Begin" data-moreinfo="" data-prefix=""></div>
    </li> -->


   <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="walk" data-view="Number" data-title="Walk Up" data-moreinfo="" data-prefix=""></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="checkedinfirstday" data-view="Number" data-title="Checked in on Frist Day" data-moreinfo="" data-prefix=""></div>
    </li> -->
  <!--</ul> -->
 <!-- <center><div style="font-size: 12px">Try this: curl -X PUT 'http://<%= request.host %>:<%= request.port %>/dashing/widgets/welcome' --data "widget%5Btext%5D=Dashing+is+awesomecurl"</div></center> -->
<!--</div> -->
